/* h1 = 55px */
/* h2 = 50px */

body {
  width: 100%;
  font-family: poppins;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #F3C796;
  background-size: cover;
  background-image: url("1609.m00.i125.n001.S.c12 1.jpg");
  background-blend-mode: multiply;
}

.container {
  height: 650px;

}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #D29C75;
  opacity: 0.8;
}

nav a {
  color: white;
  margin-left: 15px;
  margin-right: 20px;
}
nav a:hover {
  transform: scale(1.1)
}
nav img {
  height: 50px;
  width:50px;
  border-radius: 50%;
  margin-left: 800px
}
.welcome h1 {
  color: brown;
  font-weight: bold;
  font-size: 55px;
  margin-left: 50px;
  margin-top: 75px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}
#explore {
  background-color: #D29C75;
  border: none;
  padding: 10px 15px;
  width: 180px;
  height: 75px;
  border-radius: 25px;
  font-size: 30px;
  font-weight: 700;
  opacity: 60%;
}
a {
  color: white;
  font-family: poppins;
  text-decoration: none;
}
.button:hover {
  transform: scale(1.1);
}

.coffee {
  display: flex;
  justify-content: right;
  flex-direction: row;
  margin-right: 70px;
  margin-top: 80px;
}
.coffee h2 i{
  color: brown;
  font-size: 30px;
}
.coffee img {
  width: 150px;
}

.container2 {
  height: 250px;
  align-items: center;
  display: block;
  
}



.container2 h2 {
  color: white;
  font-size: 50px;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container2 h3 {
  font-size: 25px;
  display: block;
  line-height: 10px;
  color: white;
  margin-left: 110px;
}

.container2 h3 a {
  font-style: italic;
  text-decoration: underline;
}

.container2 img {
  width: 100%; 
  height: auto; 
  max-height: 250px; 
  max-width: 350px;
  display: flex;
  margin-left: 25rem;
  margin-right: auto; 
  margin-top: -170px;
}

.container3 {
  height: 15rem;
  background-color: #D29C75;
  background-size: cover;
  background-image: url("1609.m00.i125.n001.S.c12 1.jpg");
  background-blend-mode: multiply;
}

.container3 h2 {
  color: white;
  font-size: 50px;
  margin-top: 90px;
  margin-left: 50px;
  margin-top: 40px;
}

.container3 h3 {
  margin-left: 350px;
  line-height: 15px; 
  color: white;
  font-style: italic;
  font-weight: 300;
}

.container3 .line1 {
  margin-top: -100px;
}

.container3 .line2 {
  margin-left: 380px;
}

.benefit-list {
  text-align: justify;
  color: white;
  margin-top: 30px;
  margin-left: 323px;
}
@media screen and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }
  nav {
    width: 25rem;
  }
}